<!doctype html>
<html lang="en">
<head>
	<title>MARVEL'S TESSERACT</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<script src="/threejs/three.min.js"></script>
	<script src="/threejs/Detector.js"></script>
	<script src="/threejs/Stats.js"></script>
	<script src="/threejs/OrbitControls.js"></script>
	<script src="/threejs/THREEx.KeyboardState.js"></script>
	<script src="/threejs/THREEx.FullScreen.js"></script>
	<script src="/threejs/THREEx.WindowResize.js"></script>
	<script src="/threejs/EffectComposer.js"></script>
	<script src="/threejs/SubdivisionModifier.js"></script>
	<script src="/threejs/ShaderPass.js"></script>
	<script src="/threejs/shaders/CopyShader.js"></script>
	<script src="/threejs/shaders/ConvolutionShader.js"></script>
	<script src="/threejs/postprocessing/RenderPass.js"></script>
	<script src="/threejs/postprocessing/BloomPass.js"></script>

	<script id="vertexShader" type="x-shader/x-vertex">
	uniform vec3 viewVector;
	uniform float c;
	uniform float p;
	varying float intensity;
	void main() 
	{
	    vec3 vNormal = normalize( normalMatrix * normal );
		vec3 vNormel = normalize( normalMatrix * viewVector );
		intensity = pow( c - dot(vNormal, vNormel), p );
		
	    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
	}
	</script>

	<!-- fragment shader a.k.a. pixel shader -->
	<script id="fragmentShader" type="x-shader/x-vertex"> 
	uniform vec3 glowColor;
	varying float intensity;
	void main() 
	{
		vec3 glow = glowColor * intensity;
	    gl_FragColor = vec4( glow, 1.0 );
	}
	</script>

	<div id="ThreeJS" style="position: absolute; left:0px; top:0px"></div>

    <script src="/javascripts/tesseract.js"></script>
</body>
</html>
